*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia sans-serif;
  
  
}

.fixed-top{
background-color: #ffffff;
box-shadow: 4px 4px 4px grey;
}
.navbar-collapse{
margin-left: 30%;
}
.nav-item a{
color: #000;
margin: 10px 30px;
font-size: 18px;
}

.nav-item a:hover{
color: rgb(38, 163, 201);
}
h1{
color: #000;
}

#caption1 h1{
margin-top: 20px;
}
#caption1, #caption2, #caption3{
color: #000;
}

.form-inline {
  margin: 10px 0;
}

.logo{
   text-align: center;
   padding: 20px;
   font-size: 25px;
   margin-right: 15%;
}
#ecommerce{
  display: flex;
  background-color: aliceblue;
  
}
.column1{
  width: 60%;
  margin: 3%;
}
.column2{
  padding: 15px;
  font-size: 1.2rem;
  width: 40%;
  margin: 3%;
}
.ecommerce-btn{
 padding: 8px 16px;
 position: relative;
 width: 100%;
 background-color: #131f24;
 color: #f1f1f1;

}
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  margin: 0 auto;
  border: 5px solid white;
}

h2{
  padding: 20px;
  text-align: center;
  font-weight:bolder;
  
}
#skills{
padding: 15px;
background-color: #f1f1f1;

}
#image{
  border-radius: 100%;
  border: 10px solid ghostwhite;
  
}
#about{
text-align: center;
background-color: #f1f1f1;
padding: 15px;
display: flex;

}
#aboutme{
  color: #000;

}
#work{
background: none;
}
.footer{
padding: 15px;
text-align: center;
background: rgb(240, 234, 234);
color: #000;
font-size: 25px;
}

p a{
border-bottom: 1px solid black;
padding: 10px;
font-size: 25px;
}

.container {
border-radius: 5px;
margin: 3% auto;

}

.row{
margin: 5%;
}
/* Clear floats after the columns */
.row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
padding: 0 4px;

}
#row1{
  margin: -2% auto;
  margin-bottom: 8%;
  
}
#inner {
  height:100%;
  width:100%;
  background-image: url('https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  
}

#contact{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.contact-container {
box-shadow: 0px 22px 70px 4px;
width: 50%;
margin: 2em auto ;
padding: 1.5em;


}

.contact-form {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
margin: 5% auto;
}

.form-label {
height: 20px;
color: #f1f1f1;
font-weight: 800;

}

.form-input {
border-radius: 6px;
color: black;
height: 40px;
margin-bottom: 0.5em;
text-align: left;
width: 80%;
padding: 6px;
}


/* Button border animation inspired from https://css-tricks.com/animating-border/ */

.form-button {
margin-top: 1em;
height: 3em;
width: 7em;
background-color:rgb(32, 141, 55);
border: 0;
color: #ffffff;
outline: solid 0px rgb(0, 195, 255);
transition: outline 0.3s linear, background-color 1.6s linear;
}

.form-button:hover {
outline-width: 10px;
background-color: #181516;
}

.form-message {
height: 7em;


}

.flip-box {
width: 48%;
margin: auto 1%;
height: 400px;
perspective: 1000px;
padding: 15px;
border-radius: 15px;
background-size: cover;
}

.flip-box-inner {
position: relative;
background-color: #ffffff;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
position: absolute;
width: 100%;
padding: 20px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-box-front {
 border-radius: 20px;
 background-color: #eef2f5;
}

.flip-box-back {
transform: rotateY(180deg);
font-size: 20px;
margin: -5% auto;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {

.navbar-nav li{
    margin: 0px 0px;
}
input[type=submit]{
  width: 90%;
}
#demo{
  margin-top: 80px;
}
.row .flip-box{
  width: 100%;
  height: 450px;
}
.row .flip-box-front{
  background-color: rgb(233, 231, 231);
  
}
.flip-box-back{
  font-size: 18px;
}
.row #project{
  height: 400px;
  font-size: 20px;
  
}
#contact .contact-container{
  width: 80%;
}
}

@media screen and (max-width: 575px) {
.fixed-top{
  background-color: #f1f1f1;
}
#about{
  display: block;
}
.navbar-collapse{
  margin-left: 0%;
}
input[type=submit]{
  width: 90%;
}
#ecommerce{
  display: block;
}
.column1, .column2{
  width: 100%;
  margin: auto;
}

.carousel-caption h1{
  font-size: 25px;
  margin-top: 20px;
}
.carousel-caption h3 {
  font-size: 22px;
  padding: 15px;
}
.carousel-caption img{
  width: 200px;
}
.carousel-caption{
  margin-top: 200px;
}

.navbar-nav li {
  margin: 0;
  text-align: center;
  width: 100%;

}
.div {
  margin: 20px auto;
}

.navbar-nav li a:hover{
  background-color: #35aedd;
  border-radius: 15px;
  color: white;
}
.row .flip-box{
  width: 100%;
  margin: 5% auto;
}

#row1{
  width: 100%;
}
.row .flip-box-back{
  margin: 2% auto;
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  }

}

@media screen and (max-width:414px) {

  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    .flip-box-inner {
      position: relative;
      width: 100%;
      font-size: 16px;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      }
    .flip-box, .flip-box-inner{
      margin: 0 auto;
    }  
    #ecommerce{
      display: block;
    }
    .column1, .column2{
      width: 100%;
      margin: auto;
    }
    
}

@media screen and (max-width:390px) {

  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    .flip-box-inner {
      position: relative;
      width: 100%;
      font-size: 16px;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      }
    .flip-box, .flip-box-inner{
      margin: 0 auto;
    }  
    #ecommerce{
      display: block;
    }
    .column1, .column2{
      width: 100%;
      margin: auto;
    }
    
}